@import "~bootstrap/dist/css/bootstrap.css";

html, body {
   height: 100%; 
   background-color: rgb(18,129,247);
   color: white;
 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
   width: 50%;
   margin-left: 20%;
   margin-right: auto;
}
.card-title{
   font-size: 900;
   font-weight: bolder;
}
.navbar-brand{
   width: 100%; 
   color: #1281F7;  
}
.form{
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}
