@import "~bootstrap/dist/css/bootstrap.css";

html, body {
   height: 100%; 
   background-color: rgb(3, 1, 1);
   color: white;
 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
   width: 25%;
   margin-top: 10px;
   margin-left: 20%;
   margin-right: auto;
   float: right;
}
.card-title{
   font-size: 900;
   font-weight: bolder;
}

.form{
   width: 30%;
   margin-left: auto;
   margin-right: auto;
}
